# python generated
venv
.idea
__pycache__

# logs for both authserver.py and server.py (legacy) - will be decommissioned
logs

# writes url to a file when ngrok generates an url (Jarvis uses it)
url

# stores connecting client's information in yaml file
client_info.yaml

# test files
hash.js
ip.html
submitapi.js