# python generated
venv
.idea
__pycache__

# place for log files
logs

# writes url to a file when ngrok generates an url (Jarvis uses it)
url

# sphinx docs builder within doc_generator
_build

# Ngrok auth token
ngrok.yml

# File to load env vars
.env

# stores connecting client's information in yaml file
client_info.yaml

# test files
hash.js
ip.html
submitapi.js